a {
  padding: 15px;
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}                

.mybanner{
  width: 100%;
}
